#contact-overlay {
    background-color: #000;
    cursor: wait;
}

/* Container */
#contact-container {
    font: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    text-align: left;
    width: 450px;
}

#contact-container .contact-content {
    background-color: #FFF;
    color: #666;
    height: 40px;
    border-radius: 15px;
    /*-moz-border-radius: 15px;*/
    /*-webkit-border-radius: 15px;*/
    /*behavior: url(/js/PIE.htc);*/
}

#contact-container h1 {
    color: #666;
    font-size: 20px;
    line-height: 40px;
    margin: 0;
    text-align: left;
    padding: 8px 8px 10px 20px!important;
}
#contact-container h1:after {
    display: none !important;
}
#contact-container h1:before {
    display: none!important;
}

#contact-container .contact-loading {
    /*background: url(/images/loading.gif) no-repeat;*/
    height: 55px;
    margin: -14px 0 0 190px;
    padding: 0;
    position: absolute;
    width: 54px;
    z-index: 8000;
}

#contact-container .contact-message {
    text-align: center;
}

#contact-container .contact-error {
    background: #FFF;
    border: 2px solid #ccc;
    font-size: 14px;
    font-weight: bold;
    color: red;
    line-height: 18px;
    margin: 0 auto;
    padding: 2px;
    width: 92%;
}

#contact-container br {
    clear: both;
}

#contact-container form {
    margin: 0;
    padding: 0;
}

#contact-container label {
    clear: left;
    display: block;
    float: left;
    font-weight: bold;
    padding-right: 4px;
    text-align: right;
    width: 185px;
    font-size: 11px;
}

#contact-container .contact-input {
    background: #eee;
    border: 1px solid #fff;
    font-family: 'Trebuchet MS', Verdana, Arial;
    float: left;
    padding: 2px;
    margin: 2px;
    width: 240px;
}

#contact-container textarea {
    height: 114px;
}

#contact-container .contact-cc {
    cursor: default;
    font-size: 14px;
    vertical-align: top;
}

#contact-container .contact-bottom {
    background-color: #333;
    font-size: 12px;
    height: 13px;
    line-height: 12px;
    text-align: center;
    /*-webkit-border-bottom-right-radius: 8px;*/
    /*-webkit-border-bottom-left-radius: 8px;*/
    /*-moz-border-radius-bottomright: 8px;*/
    /*-moz-border-radius-bottomleft: 8px;*/
    border-radius: 0 0 8px 8px;
}

#contact-container .contact-bottom a,
#contact-container .contact-bottom a:link,
#contact-container .contact-bottom a:active,
#contact-container .contact-bottom a:visited {
    color: #666;
    position: relative;
    top: -4px;
    text-decoration: none;
}

#contact-container .contact-bottom a:hover {
    color: #888;
}

#contact-container .contact-button {
    background: #2081A6;
    border: 0;
    color: #fff;
    cursor: pointer;
    height: 26px;
    margin: 20px 0 0 4px;
    text-align: center;
    vertical-align: middle;
    /*-webkit-border-radius: 15px;*/
    /*-moz-border-radius: 15px;*/
    border-radius: 15px;
    padding: 0 30px
}

#contact-container .contact-button:hover {
    background: #F47215;
}

#contact-container a.modal-close,
#contact-container a.modal-close:link,
#contact-container a.modal-close:active,
#contact-container a.modal-close:visited {
    color: #999;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    text-decoration: none;
    right: 8px;
    top: 0px;
}

#contact-container a.modal-close:hover {
    color: #ccc;
}


h1.contact-title {
	width: 425px;
}


@media  (max-width: 480px) {
	
	#contact-container form {
		padding: 0 10px;
	}
	
	#contact-container {
		left:0 !important;
		width: 100% !important;
		height:auto !important;
		overflow: hidden;
	}
	
	#contact-container label {
		float: none;
		width: 100%;
		text-align: center;
	}
	
	#contact-container .contact-input {
		width: 100%;
		box-sizing: border-box;
	}
	
	h1.contact-title {width: auto;}
	
	#contact-container .contact-content {
		height: auto !important;
		padding-bottom: 10px;
	}
}

.f3 {
	float: right;
    width: 310px;
}
