.night_form form {
	text-align: center;
}

.night_form h4 + div {
    margin-bottom: 10px
}

.night_form {
    background: #ad1c3d;
    padding-bottom: 25px;
	color: #FFF;
}
.night_form .close_form {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 10%;
    top: 10px;
    background: url("close.png") no-repeat
}

.night_form h4 {
    font-size: 18px;
    padding: 17px 0 12px;
    text-align: center;
	margin:0;
}
.night_form h4 + div {
    font-size: 14px;
    line-height: 18px;
    text-align: center
}
.night_form input[type=text] {
        background: #c1c0c0;
    box-shadow: inset 0 2px 2px 1px rgba(0,0,0,.2);
    margin-bottom: 15px;
    border: none;
    outline: 0;
    height: 33px;
    padding-left: 12px;
    width: 191px;
    font-size: 14px;
    color: #1a1a1a;
}
.night_form form > :first-child {
    margin-left: 0
}
.night_form form input[type=checkbox] + label + span {
    font-size: 14px;
    padding-top: 0;
    width: 366px;
	padding-right: 20px;
}
.night_form .button {
    display: inline-block;
    vertical-align: top;
    width: 230px;
    position: relative;
    top: 10px;
	border: 0;
	border-bottom: 3px solid #005475;
	background: #0375a2;
}
.night_form br {
    display: none
}

@media (max-width:1200px) {
	.night_form.active + #wrapper {
        position: absolute;
        top: 0;
        left: 0
    }
	.night_form.active + #wrapper {
        position: fixed;
        left: 0;
        top: 0
    }
	.night_form .close_form {
        right: 10px
    }
    .night_form form {
        width: 950px;
        margin: auto
    }
    .night_form input[type=text] {
        width: 272px
    }
    .night_form form input[type=checkbox] + label + span {
        width: 400px
    }
    .night_form .button {
        margin: 10px auto 20px;
        position: static;
        display: block
    }
}

@media (max-width:980px) {
	.night_form form {
        width: 370px
    }
    .night_form input[type=text] {
        width: 345px;
        margin: 0 0 15px
    }
    .night_form form input[type=checkbox] + label + span {
        width: 320px
    }
}

@media (max-width:390px) {
    .night_form h4 + div,
    .review_form input[type=checkbox] + label + span {
        font-size: 12px
    }
    .night_form form {
        width: 100%
    }
    .night_form input[type=text] {
        box-sizing: border-box;
        width: 100%;
        height: 35px
    }
    .night_form form input[type=checkbox] + label + span {
        width: 240px;
        margin-bottom: 10px
    }
    .night_form br {
        display: block
    }
}

.send_ok {
	    margin: 0;
    text-align: center;
    line-height: 50px;
}